/* цвет основного текста #757575;*/
/* вторичный цвет текста #212121; */
/* акцент #2196F3 */
/* белый цвет  #FFFFFF; */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent: #2196f3;
  --white: #ffffff;
  --bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --border-color: #ececec;
}

body {
  background-color: var(--white);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header {
  border-bottom: 1px solid var(--border-color);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section.no-padding {
  padding-bottom: 0px;
}
.header-container {
  display: flex;
}
.nav-container {
  display: flex;
  align-items: center;
}
/* навигация */

.site-nav {
  display: flex;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .item:not(:first-child) {
  margin-left: 50px;
}
/* логотип */
.logo {
  color: var(--accent);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  margin-right: 85px;
}

.part {
  color: #000000;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
a.link {
  color: var(--secondary-text-color);
}

.link.current {
  color: var(--accent);
}
.link.current:hover,
.link.current:focus {
  color: #000000;
}
.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  /* identical to box height */
  letter-spacing: 0.02em;
}
.contact + .contact {
  margin-left: 30px;
}

.contact.info {
  color: var(--primary-text-color);
}
.contact.info:hover,
.contact.info:focus {
  color: var(--accent);
}
.contact.link::before {
  content: "";
  display: inline-flex;
  margin-right: 10px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/header-img.jpg);
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
}
.hero-title {
  color: var(--white);
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-content {
  max-width: 696px;
}

.main-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  text-decoration: none;

  color: var(--white);
  background-color: var(--accent);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
}
.icon:hover {
  fill: var(--accent);
}

.section-title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.list-section {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}
.item-section:not(:last-child) {
  margin-right: 30px;
}
.item-section::before {
  content: "";
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-bg-color);
}
.item-section:nth-child(1)::before {
  background-image: url(../images/antenna-1.png);
}
.item-section:nth-child(2)::before {
  background-image: url(../images/clock-1.png);
}
.item-section:nth-child(3)::before {
  background-image: url(../images/diagram-1.png);
}
.item-section:nth-child(4)::before {
  background-image: url(../images/astronaut-1.png);
}

.features {
  display: flex;
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}
.section-name {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-text {
  margin-top: 10px;
  margin-bottom: 0px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
}
.section.members {
  background-color: var(--secondary-bg-color);
}
.members img {
  display: block;
}
.section .section-team {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-content {
  text-align: center;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-description {
  padding-top: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.team-text {
  margin-top: 0px;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.social {
  margin-top: 0px;
  margin-bottom: 0px;
}
.social .link {
  display: block;
}

.social .link:hover,
.social .link:focus {
  color: var(--accent);
}
.features-title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-features {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.section .client-title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}
.client-list {
  display: flex;
}
.client-item:not(:last-child) {
  margin-right: 30px;
}
.client-list .client:hover,
.client-list .client:focus {
  color: var(--accent);
}
.address .contact-info {
  display: inline-block;
  margin-top: 9px;
  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.contact-info:hover,
.contact-info:focus {
  color: var(--accent);
}
/* Портфолио */
.example {
  display: flex;
  flex-wrap: wrap;
}

.example-element {
  margin-right: 30px;
  margin-bottom: 30px;
}
.example-element:nth-child(3n) {
  margin-right: 0px;
}
.example-element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.card-content {
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.example-title {
  padding-top: 20px;
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-link {
  display: block;
}
.example-text {
  margin-top: 4px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
.example .inner-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.button {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}
.button-item {
  padding-top: 8px;
  padding-right: 22px;
  padding-bottom: 8px;
  padding-left: 22px;
  border: transparent;
  border-radius: 4px;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.button-item:hover,
.button-item:focus {
  color: var(--white);
  background-color: var(--accent);
}
.button-item:not(:last-child) {
  margin-right: 8px;
}

.img {
  display: block;
  width: 370px;
}
/* Подвал */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
  height: 252px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer .logo {
  margin-bottom: 20px;
}

.footer .logo.part {
  margin-right: 0px;
  color: #ffffff;
}
.location {
  display: inline-block;
  margin-top: 20px;
  color: #ffffff;
  font-style: normal;
}
.center-section {
  margin-left: 70px;
}

.center-section .social {
  display: flex;
}
.center-section .text {
  color: var(--white);
  margin-top: 0px;
  margin-bottom: 20px;
}
.link-item:not(:last-child) {
  margin-right: 10px;
}
